<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{title}}
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table' *ngIf="products && products.length">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.productId }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.unitPrice }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <strong>Error!</strong> {{error}}
    </div>
  </div>
</div>